.num {
	display: inline-block;
	background-color: #00FA9A;
	width: 15px;
	border: solid 1px;
	margin: 2px 2px 0 0;
}

.current {
	display: inline-block;
	background-color: #FF4500;
	width: 15px;
	border: inset 1px;
	margin:2px 2px 0 0;
}
